<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">


  <div class="flex justify-between items-center bg-blue-800 text-white px-6 py-4">
    <h1 class="text-2xl font-bold">Admin Dashboard</h1>
    <div class="space-x-2">
      <a href="/addProd" class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded text-l">Add Product</a>
      <a href="/add-user" class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded text-l">Add User</a>
      <a href="/logout"><button class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-l">Logout</button></a>

    </div>
  </div>

  <div class="p-6">
    <h2 class="text-3xl font-semibold mb-8 ml-6">User List</h2>
    <div class="overflow-x-auto bg-white shadow-md rounded">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Username</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Phone No.</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody id="userTableBody" class="bg-white divide-y divide-gray-200">
          <% users.forEach((user)=>{ %>
          <% if(!user.role) {%>
          <tr class="text-xl">
            <td class="pl-8 px-6 py-4"><%=user.name %></td>
            <td class="pl-4  px-6 py-4"><%=user.email %></td>
            <td class="pl-8  px-6 py-4"><%=user.phone %></td>
            <td class="pl-8  px-6 py-4"><%=user.status %></td>
            <td>
              <a href="/update/<%=user._id %>" class="bg-green-400 px-6 rounded pt-2 pb-2">Edit</a>
              <a href="/delete/<%=user._id %>" onclick="deleteuser()" class="bg-red-400 px-3 rounded ml-4 pt-2 pb-2">Delete</a>
            </td>
          </tr>
          <%} }) %>

        </tbody>
      </table>
    </div>
  </div>


  <div class="p-6">
    <h2 class="text-3xl font-semibold mb-8 ml-6">Product List</h2>
    <div class="overflow-x-auto bg-white shadow-md rounded">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Name</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Price</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Discription</th>
            <th class="px-6 py-3 text-left text-xl font-medium uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody id="userTableBody" class="bg-white divide-y divide-gray-200">
          <% prod.forEach((product)=>{ %>
          <tr class="text-xl">
            <td class="pl-8 px-6 py-4"><%=product.name %></td>
            <td class="pl-4  px-6 py-4"><%=product.price %></td>
            <td class="pl-8  px-6 py-4"><%=product.description %></td>
            <td>
              <a href="/updatepr/<%=product._id %>" class="bg-green-400 px-6 rounded pt-2 pb-2">Edit</a>
              <a href="/delete/<%=product._id %>" class="bg-red-400 px-3 rounded ml-4 pt-2 pb-2">Delete</a>
            </td>
          </tr>
          <% }) %>

        </tbody>
      </table>
    </div>
  </div>

  <script>
    const deleteuser = async (id) => {
      const response = await fetch(`/delete/${id}`,{
        method: "GET",
      })
      const resjson = await response.json();console.log(resjson);
      
      const con = confirm("are you sure?")
      if (con == true) {
        if (resjson.success == true) {
          alert("User Deleted!")
          window.location.reload()
        }
      } else {
        alert("user not deleted!")
      }

    }
   
  </script>
</body>

</html>